---
layout: page
---


<h1> Tags </h1>

Blog posts groups by tags.

{% for tags in site.tags %}

	• {{ tags[0] }}  

	
{% endfor %}





{% for tags in site.tags %}

  <h2>{{ tags[0] }}</h2>
  
  <ul>
  
    {% for post in tags[1] %}
    
      <ul> 
      
       	<b> <a href="{{post.url}}">{{post.title}}</a> </b> •
       	<i> {{ post.date | date: '%B %-d, %Y' }} </i> </p>                                                                                                 
		{% endif %}                   
      
       </ul>
        
    {% endfor %}
    
  </ul>

{% endfor %}

