---
layout: page
---


<h1> Tags </h1>

{% assign sorted_tags = site.tags | reverse %}

{% for tag in sorted_tags %}

	{{ tag[0] }}  • 

{% endfor %}


{% for tag in sorted_tags %}

  <h2>{{ tag[0] }}</h2>
  
  <ul>
  

    {% for post in tag[1] %}
    
      <ul> 
      
       	<b> <a href="{{post.url}}">{{post.title}}</a> </b> •
       	<i> {{ post.date | date: '%B %-d, %Y' }} </i> </p>                                                                                                 
                  
      
       </ul>
        
    {% endfor %}
    
  </ul>

{% endfor %}

