<ul class="links">

  <li class="{% if page.url contains '/portfolio/' %} active {% endif %}"><a href="{{ "/portfolio/" | absolute_url }}">Portfolio</a></li>

  <li class="{% if page.url contains '/welcome/' %} active {% endif %}"><a href="{{ "/welcome/" | absolute_url }}">Welcome</a></li>
  
  <li class="{% if page.url contains '/philosophy/' %} active {% endif %}"><a href="{{ "/philosophy/" | absolute_url }}">Teaching Philosophy</a></li>


</ul>

<ul class="icons">
  
   <li><a href="https://github.com/raynaharrisphd" class="icon fa-regular fa-house" rel="me"><span class="label">Home</span></a></li>

  <li><a href="https://github.com/raynaharrisphd" class="icon fa-github" rel="me"><span class="label">GitHub</span></a></li>
  
    <li><a href="https://www.instagram.com/raynamharris/" class="icon fa-instagram" rel="me"><span class="label">Instagram</span></a></li>
  
    <li><a href="https://www.linkedin.com/in/raynamharris/" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>

  <li><a href="https://open.spotify.com/user/22thoad6mmuz725fpqcs5rera" class="icon fa-spotify" rel="me"><span class="label">Spotify</span></a></li>
  
    <li><a href="https://www.youtube.com/@raynaharris8443/" class="icon fa-youtube" rel="me"><span class="label">YouTube</span></a></li>
  
</ul>
