---
layout: page
permalink: /blog/
title: blog
---
	
<h1> Blog Posts </h1>

Some posts I've written over the years grouped by category: Community, Science, Spanish, Teaching, and Yoga.

{% assign sorted_categories = site.categories | sort %}
{% for categories in sorted_categories %}

  <h2>{{ categories[0] }}</h2>
  
  <ul>
  
    {% for post in categories[1] %}
    
    {% if post.categories != yoga %}
    
      <li> 
      
       <b> <a href="{{post.url}}">{{post.title}}</a> </b> •
       <i> {{ post.date | date: '%B %-d, %Y' }} </i>
       {{ post.excerpt }}    
       <i>{{post.org}}</i> 
      
      <p>
      
		{% if post.image != blank %}

 <a href="{{ post.url | absolute_url }}"><img src="{{ post.image | absolute_url }}"alt=""  width="50%"  align="center"/></a>                                                
 
        </p>                                            
              
		{% endif %}   
		
	{% endif %}                  
      
       </li>
        
    
    {% endfor %}
    
  </ul>
  
{% endfor %}

