---
layout: page
permalink: /yoga/
title: Yoga
categories: yoga
---

<h1> Yoga with Rayna </h1>

<p> After years of daydreaming, I pursued and received my 200-Hour Hatha Teacher Yoga certification in January 2024 at <a href="https://palisadesyoga.com/">Palisades Yoga</a> in North Lake Tahoe.  Now I teach Beach Yoga, Standup Paddle Yoga, and Yoga Flow with <a href="https://tahoeflow.com/">Tahoe Flow Arts & Fitness</a> and Mindful Yoga with
 <a href="https://www.courageproject.org/">The Courage Project</a>. My yoga classes flow through poses and synchronize the breath with movement and music in a playful way that builds physical strength and encourages mindfulness. 
 
I write a blog post for every class that includes an outline of the sequence, a link to the Spotify playlist, and general notes or feedback from students. Scroll down to explore.</p>


<!-- Hide Calendar for Now

<h2> Calendar </h2>

<center>  <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=2&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&showTabs=1&mode=AGENDA&showTitle=1&src=cmF5bmFoYXJyaXN5b2dhQGdtYWlsLmNvbQ&color=%23039BE5" style="border:solid 1px #777" width="100%" height="300" frameborder="0" scrolling="no"></iframe>  </center> 
  
-->
  
  
<!-- Media -->
 

{% assign sorted-posts = site.posts | where: "categories","yoga" %}
	{% for post in sorted-posts %}
  	
		{% if post.image != blank %}

		 <a href="{{ post.url | absolute_url }}"><img src="{{ post.image | absolute_url }}" height="150"/> </a>                                                       
              
		{% endif %}   
	{% endfor %}
	

<p> </p> 


<!-- Blog Posts About Yoga -->


<h2> Past Classes </h2>


{% assign sorted-posts = site.posts | where: "categories","yoga" %}
	{% for post in sorted-posts %}
  
  	<ul>
     
    	 <div class="row">
     	 <div class="column6"> 
      		<i> {{ post.date | date: '%B %-d, %Y' }} </i> •
        	<b> <a href="{{ post.url }}"> {{ post.title }}</a> </b>
        	{{ post.excerpt }} 
        </div>
  
       	<div class="column7">      
       	
       		{% if post.spotify != blank %}             
        	<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ post.spotify }}?utm_source=generator" width="95%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> 
        	{% endif %}   	
 
	 	</div>
		</div>        
       </ul> 
        
{% endfor %}

