---
layout: page
permalink: /yoga/
title: Yoga
categories: yoga
---


<h1> Yoga </h1>


<p> After daydreaming about teaching yoga for years, I finally pursued and received my 200-Hour Hatha Teacher Yoga certification in January 2024 at <a href="https://palisadesyoga.com/">Palisades Yoga</a> in North Lake Tahoe. My yoga classes flow through poses and synchronize the breath with movement and music in a playful way that builds physical strength and encourages mindfulness.  

I teach Beach Yoga, Standup Paddle Yoga, and Yoga at the Ritz Carlton with <a href="https://tahoeflow.com/">Tahoe Flow Arts & Fitness</a> and Mindfull Yoga for children with
 <a href="https://www.courageproject.org/">The Courage Project</a>. 
 
I write a blog post for every class that includes an outline and/or image of the sequence I planned to teach, a link to the Spotify playlist, and feedback from students. Scroll down to read more.</p>

<h2> Yoga Calendar </h2>

<center>  <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=2&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&showTabs=1&mode=AGENDA&showTitle=1&src=cmF5bmFoYXJyaXN5b2dhQGdtYWlsLmNvbQ&color=%23039BE5" style="border:solid 1px #777" width="100%" height="300" frameborder="0" scrolling="no"></iframe>  </center> 
  

<h2> Past Classes </h2>

 <!-- Linked images -->

{% assign sorted_tags = site.tags | sort %}

{% for tags in sorted_tags %}

	{% for post in tags[1] %}
        
		{% if post.image != blank %}

		 <a href="{{ post.url | absolute_url }}"><img src="{{ post.image | absolute_url }}" height="150"/> </a>                                                       
              
		{% endif %}   

	{% endfor %}
  
{% endfor %}


<p> </p> 


<!--{% assign sorted_tags = site.tags | sort %}  -->
{% for tags in site.tags reversed %}  <!-- reverse -->


  <h3> {{ tags[0] }} </h3>
  
  	<ul>

    	{% for post in tags[1] %} 
     
    	 <div class="row">
     	 <div class="column6"> 
      		<i> {{ post.date | date: '%B %-d, %Y' }} </i> •
        	<b> <a href="{{ post.url }}"> {{ post.title }}</a> </b>
        	{{ post.excerpt }} 
        </div>
  
       	<div class="column7">                   
        	<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ post.spotify }}?utm_source=generator" width="95%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> 
 
	 	</div>
		</div>        
      
    {% endfor %}

  </ul>

{% endfor %}



 <!-- Testing -->


<!-- Post -->
					<section class="posts">
						{% for post in site.posts %}
						{% assign mod3 = forloop.index | modulo: 3 %}
						
						{% if post.spotify != blank %}
						
							<article>
    	 <div class="row">
     	 <div class="column6"> 
      		<i> {{ post.date | date: '%B %-d, %Y' }} </i> •
        	<b> <a href="{{ post.url }}"> {{ post.title }}</a> </b>
        	{{ post.excerpt }} 
        </div>
  
       	<div class="column7">                   
        	<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ post.spotify }}?utm_source=generator" width="95%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> 
 
	 	</div>
		</div>  							
							
							{% endif %}
							
						{% endfor %}

					</section>


<!-- Test -->

{% for p in site.categories.yoga %}
{% assign spotifyunique = p.spotify | uniq %}

{{ spotifyunique }}
  
{% for playlists in spotifyunique %}  
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ playlists }}?utm_source=generator" width="30%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> 

{% endfor %}
{% endfor %}