---
layout: page
permalink: /yoga/
title: Yoga
categories: yoga
---


<h1> Yoga </h1>


<p> From September 2023 to January 2024, I'll be taking a 200 hour Yoga Instructor Certification Course. On this page, you'll fink links to sequences and playlists for yoga classes I have taught. There is also a calendar with links to past and future events. </p>

<h2> Past Classes </h2>


<ul>
{% for post in site.categories.yoga %}



{% if post.spotify == "" or post.spotify == nil or post.spotify == blank %}
        
         <!-- Do nothing -->
         
    {% else %}
        
        <i> {{ post.date | date_to_string }} </i> •
        <b> <a href="{{ post.url }}"> {{ post.title }}</a> </b> 
        {{ post.excerpt }} 
        <br>
                                        
    {% endif %}              
                                             
    {% endfor %}
  </ul>    





<h2> Future Classes</h2>


  <center>  <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=2&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&showTabs=1&mode=AGENDA&showTitle=1&src=cmF5bmFoYXJyaXN5b2dhQGdtYWlsLmNvbQ&color=%23039BE5" style="border:solid 1px #777" width="800" height="400" frameborder="0" scrolling="no"></iframe>  </center> 
  
<br>

<h2> YouTube Videos </h2>

<iframe width="720" height="405" src="https://www.youtube.com/embed/?listType=playlist&list=PLNfIROxhN1JCwXCfHSChg8NLsktT0q9tD" frameborder="0" allowfullscreen>


