name: Update Wesbite

on:
  # Runs on pushes targeting the main branch
  push:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build & Deploy Job
  gh_pages:
    name: Build & Deploy Github Pages
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.gh_pages.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build & Deploy
        id: gh_pages
        uses: dunkmann00/jekyll-v4-gh-pages@v1
